<template>
    <div class="container">
        <ActionButton text="Add Box" :action="addBox" />
        <ActionButton text="Add Sphere" :action="addSphere" />
        <ActionButton class="wide" text="Add Mesh" :action="addMesh" />
        
        <div class="entryList">
            <div v-for="entry in entries" :key="entry.uuid">
                <Tab :tabName="entry.type" :tabInfo="entry.uuid.substr(0,8)">
                    <Entry 
                        v-bind:entry="entry" 
                        v-bind:renderer="renderer"
                        v-on:remove-entry="removeItem" 
                    />
                </Tab>
            </div>
        </div>
    </div>
</template>

<script>
    import Entry from '../Entry.vue';
    import Tab from '../Tab.vue';
    import ActionButton from '../../form/ActionButton.vue';
    import uuid from 'uuid/v1';
    import { setInterval } from 'timers';

    export default {
        props: {
            entries: Array,
            renderer: Object
        },
        components: {
          Entry, ActionButton, Tab
        },
        methods: {
            addBox() {
                this.entries.push({
                    uuid: uuid(),
                    type: "box",
                    flags: {},
                    sizeHalf: [0.5, 0.5, 0.5],
                    position: [0.0, 0.0, 0.0],
                    rotation: [0.0, 0.0, 0.0],
                });
            },
            addSphere() {
                this.entries.push({
                    uuid: uuid(),
                    type: "sphere",
                    flags: {},
                    sizeHalf: [1.0, 1.0, 1.0],
                    position: [0.0, 0.0, 0.0],
                    rotation: [0.0, 0.0, 0.0],
                    radius: 1.0
                });
            },
            addMesh() {
                this.entries.push({
                    uuid: uuid(),
                    type: "mesh",
                    flags: {},
                    sizeHalf: [1.0, 1.0, 1.0],
                    position: [0.0, 0.0, 0.0],
                    rotation: [0.0, 0.0, 0.0],
                    radius: 1.0
                });
            },
            removeItem(entry) {
                this.$delete(this.entries, this.entries.indexOf(entry));
            },
            getTabName(entry) {
                return entry.type + " #" + entry.uuid.substr(0, 8);
            }
        }
    }
</script>

<style scoped lang="scss">
    @import '../../../styles/colors.scss';

    .entryList {
        overflow-y: auto;
        margin: 4px 10px 10px 16px;
        border-right: 1px solid $borderGray;
    }

</style>
