<template>
    <div>
        <TextInput text="Body-Name" v-model="file.entries[0].name" />
    </div>
</template>

<script>
    import TextInput from '../../form/TextInput.vue';

    export default {
        components: {
          TextInput
        },
        props: {
            file: Object
        },

    }
</script>

