<template>
    <div>
       <FileUpload text="Load Model (CSV)" :fileTypes="['.csv']" :callback="loadModel" />
       <FileUpload text="Load Texture" :fileTypes="['image/*']" :callback="loadTexture" :asBlob="true" />
       <Slider text="Opacity" :min="0.0" :max="1.0" :step="0.1" v-model.number="opacity" />
    </div>
</template>

<script>
    import TextInput from '../../form/TextInput.vue';
    import Slider from '../../form/Slider.vue';
    import FileUpload from '../../form/FileUpload.vue';

    import loadCSV from '../../../lib/modelLoader/csv';

    export default {
        components: {
          TextInput, Slider, FileUpload
        },
        props: {
            renderer: Object
        },
        data() {
            return {
                opacity: 0.7
            }
        },
        watch: {
            opacity(val) {
                if(this.material) {
                    this.material.opacity = parseFloat(val);
                }
            }
        },
        methods: {
            loadModel(data) {

                this.renderer.scene.remove(this.model);

                this.model = loadCSV(data);

                if(this.material) {
                    this.model.material = this.material;
                }

                this.material = this.model.material;
                this.material.opacity = this.opacity;

                this.renderer.scene.add(this.model);
            },
            loadTexture(data) {
                const texture = new THREE.Texture();
                const image = new Image();
                image.src = URL.createObjectURL(data);
                image.onload = () => { 

                    this.material = new THREE.MeshBasicMaterial({
                        map: texture,
                        transparent: true, 
                        opacity: this.opacity
                    });

                    texture.image = image; 
                    texture.needsUpdate = true; 

                    if(this.model) {
                        this.model.material = this.material;
                    }
                };
                image.onerror = () => {
                    this.$awn.alert("Could not load texture! <br/>Try to use PNG/JPG/BMP images, DDS is not supported.");
                };
            }
        }
    }
</script>

<style scoped lang="scss">
    @import 'src/styles/tabs.scss';

    div {
        @extend %tabFlexContainer;
    }

</style>
