<template>
    <button @click="action()">
        {{ text }}
    </button>
</template>

<script>
    export default {
        props: {
            text: String,
            action: Function,
        }
    }
</script>

<style scoped lang="scss">
    @import '../../styles/colors.scss';

    button {
        outline: none;
        width: 100px;
        height: 30px;
        color: $formColor;

        background: none;
        border: 1px solid $formColor;

        margin: 5px;
        font-size: 0.8em;

        transition: color ease-in-out 150ms, 
                    border-color ease-in-out 150ms;

        &:hover, &:active {
            color: $formColorActive;
            border-color: $formColorActive;
        }

    }

    button.wide {
        width: calc(200px + 10px);
    }
</style>
