<template>
    <label class="checkbox" :for="this._uid + 'input'">
        <span>{{text}}</span>
        <input 
            :id="this._uid + 'input'"
            type="checkbox" :checked="value"
            value="1"
            @input="$emit('input', $event.target.checked == '1')" 
        />
    </label>
</template>

<script>
    export default {
        props: {
            text: String,
            value: Boolean
        }
    }
</script>

<style scoped lang="scss">
    @import './../../styles/colors.scss';
    @import './../../styles/sizes.scss';

    label.checkbox {
        display: flex;
        flex-flow: row;
        outline: none;
    
        border: 1px solid $borderGray;

        span {
            font-size: $fontSizeLabel;
            padding: 0 4px 3px;
            color: $formColor;
        }
    }

    input {
        border: none;
        background: none;
        color: white;

        &:last-child {
            margin-right: 0;
        }
    }
</style>
