<template>
    <div class="vector">
        <span>x</span><input :step="step" type="number" v-model.number="vector[0]" />
        <span>y</span><input :step="step" type="number" v-model.number="vector[1]" />
        <span>z</span><input :step="step" type="number" v-model.number="vector[2]" />
    </div>
</template>

<script>
    export default {
        props: {
            vector: Array,
            step: {
                type: Number,
                default: 0.05
            }
        }
    }
</script>

<style scoped lang="scss">
    @import './../../styles/colors.scss';

    div.vector {
        display: flex;
        flex-flow: row;
        outline: none;
        
        border: 1px solid $borderGray;

        span {
            font-family: 'Crete Round', serif;

            padding: 0 4px 3px;
            color: $formColor;
        }
    }

    input {
        padding-left: 4px;
        border: none;
        background: none;
        color: white;
        width: 50px;

        &:last-child {
            margin-right: 0;
        }
    }
</style>
