<template>
    <div class="vector">
        <span>r</span><input 
            :step="step" type="number" :value="value" 
            @input="$emit('input', $event.target.value)" 
        />
    </div>
</template>

<script>
    export default {
        props: {
            value: Number,
            step: {
                type: Number,
                default: 0.05
            }
        }
    }
</script>

<style scoped lang="scss">
    @import './../../styles/colors.scss';

    div.vector {
        display: flex;
        flex-flow: row;
        outline: none;
        
        border: 1px solid $borderGray;

        span {
            font-family: 'Crete Round', serif;

            padding: 0 4px 3px;
            color: $formColor;
        }
    }

    input {
        padding-left: 4px;
        border: none;
        background: none;
        color: white;
        width: 50px;

        &:last-child {
            margin-right: 0;
        }
    }
</style>
