<template>
    <div class="slider">
        <label>{{text}}</label>
        <input type="range" :value="value" 
            :min="min" :max="max" :step="step"
            @input="$emit('input', $event.target.value)" 
        />
    </div>
</template>

<script>
    export default {
        props: {
            text: String,
            value: Number,
            min: Number,
            max: Number,
            step: Number
        }
    }
</script>

<style scoped lang="scss">
    @import '../../styles/colors.scss';
    @import '../../styles/sizes.scss';

    div.slider {
        display: flex;
        flex-direction: row;
        padding-left: 4px;
    }

    label {
        font-size: $fontSizeLabel;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    input[type=range] {
        height: 26px;
        flex: 1;
        -webkit-appearance: none;
        margin: 10px 0;
        background: none;
        padding: 0 6px;

        &:focus {
            outline: none;
        }

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 8px;
            cursor: pointer;
            background: $themeGray;
        }
        &::-webkit-slider-thumb {
            height: 20px;
            width: 10px;
            background: $themeOrange;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -5.5px;
        }

        &:focus::-webkit-slider-runnable-track {
            background: none;
        }
        &::-moz-range-track {
            width: 100%;
            height: 16px;
            cursor: pointer;
            background: none;
            border: none;
        }
        &::-moz-range-thumb {
            height: 20px;
            width: 10px;
            background: $themeOrange;
            cursor: pointer;
        }
    }

</style>
