<template>
    <div class="entry">
        <div class="header">
            <span class="remove" v-on:click="$emit('remove-entry', entry)">
                Remove
            </span>
        </div>

        <div v-if="entry.type == 'mesh'" class="meshContainer">
            <span class="vectorName">Mesh:</span>
            <FileUpload text="Convex Model (OBJ)" :fileTypes="['.obj']" :callback="loadModel" />
        </div>

        <span class="vectorName">Position:</span>
        <InputVector3 v-bind:vector="position" />

        <span v-if="entry.type == 'box'">        
            <span class="vectorName">Scale:</span>
            <InputVector3 v-bind:vector="sizeHalf" />

            <span class="vectorName">Rotation:</span>
            <InputVector3 v-bind:vector="rotation" :step="1" />
        </span>

        <span v-if="entry.type == 'sphere'">
            <span class="vectorName">Radius:</span>
            <InputFloat v-model="radius" />
        </span>

        <span class="vectorName">Flags:</span>
        <InputCheckbox text="Climbable" v-model="flags.climbable" />
    </div>
</template>

<script>
    import InputVector3 from '../form/InputVector3';
    import InputFloat from '../form/InputFloat';
    import FileUpload from '../form/FileUpload';
    import InputCheckbox from '../form/InputCheckbox';
    import {radToDeg, degToRad} from '../../lib/math';

    import {ObjLoader} from '@/lib/modelLoader/obj';
    import {CsvLoader} from '@/lib/modelLoader/csv';

    function setVector(vec, arr, scalar = 1.0) {
        scalar = parseFloat(scalar);
        vec.set(
            parseFloat(arr[0]) * scalar,
            parseFloat(arr[1]) * scalar,
            parseFloat(arr[2]) * scalar
        );
    }

    export default {
        components: {
          InputVector3, InputFloat, 
          InputCheckbox, FileUpload
        },
        props: {
            renderer: Object,
            entry: Object
        },
        data() {
            return {
                object: this.initObject()
            };
        },
        computed: {
            position() {return this.entry.position;},
            rotation() {return this.entry.rotation;},
            sizeHalf() {return this.entry.sizeHalf;},
            radius: {
                get() {
                    return this.entry.radius;
                },
                set(val) {
                    this.entry.radius = parseFloat(val);
                }
            },
            flags() { return this.entry.flags }
        },
        watch: {
            position: {
                handler(val) {setVector(this.object.position, val);},
                deep: true,
                immediate: true
            },
            sizeHalf: {
                handler(val) {
                    setVector(this.object.scale, val, this.radius);
                },
                deep: true,
                immediate: true
            },
            rotation: {
                handler(val) {
                    const rot = this.object.rotation;
                    if (rot) {
                        rot.x = degToRad(val[0]);
                        rot.y = degToRad(val[1]);
                        rot.z = degToRad(val[2]);
                    }
                },
                deep: true,
                immediate: true
            },
            radius: {
                handler(val) {
                    setVector(this.object.scale, this.entry.sizeHalf, val);
                },
                immediate: true
            },
            flags: {
                handler(val) {
                    this.object.material = this.entry.flags.climbable
                        ? this.renderer.materialClimb
                        : this.renderer.materialDefault;
                },
                deep: true,
                immediate: true
            }
        },
        destroyed() {
            this.destroyObject();
        },
        methods: {
            loadModel(modelData, fileName) {

                this.destroyObject();
                const obj = fileName.endsWith("csv") ? new CsvLoader() : new ObjLoader();
                obj.load(modelData);
                this.entry.vertices = obj.vertexArray;
                this.entry.indices = obj.indexArray;
                
                const indexCount = this.entry.indices.reduce((sum, v) => sum + v.length, 0) / this.entry.indices.length;
                if(indexCount <= 3.0) {
                    this.$awn.warning("You are only using triangles!<br/>This may result in wrong collision.<br/>Try using polygons with higher edge counts.");
                }

                this.object = this.renderer.addMesh(obj.createModel());
            },
            destroyObject() {
                if(this.object && this.object.parent) {
                    this.object.parent.remove(this.object);
                }
            },
            initObject() 
            {
                switch(this.entry.type)
                {
                    case 'sphere':
                        return this.renderer.addSphere();    
                    break;
                    case 'mesh': {
                        if(this.entry.vertices && this.entry.vertices.length != 0)
                        {
                            const geometry = new THREE.ConvexGeometry(this.entry.vertices.map(v => new THREE.Vector3(v[0], v[1], v[2])));
                            return this.renderer.addMesh(new THREE.Mesh( geometry, this.renderer.materialDefault ));
                        }

                        const box = this.renderer.addBox();    
                        box.visible = false;
                        return box;
                    }
                    break;
                    case 'box':
                    default:
                        return this.renderer.addBox();

                }
            }
        }
    }
</script>

<style scoped lang="scss">
    @import '../../styles/colors.scss';

    div.entry {
        background: $themeBgDark;
        margin-bottom: 10px;
        padding: 0 4px 8px 4px;
        text-align: left;
    }

    .vectorName {
        color: #888;
    }

    .vectorName {
        font-size: 0.8em;
    }

    .meshContainer {
        height: 72px;
    }

    .remove {
        color: #e44141;
        cursor: pointer;
        
        padding: 2px 4px;
        font-size: 0.8em;

        transition: color ease-in-out 80ms;

        &:hover {
            color: #c70707;
        }
    }

    .header {
        text-align: right;
    }
</style>
