<template>
    <canvas>Ooops... your device does not support WebGL!</canvas>
</template>

<script>
    import Renderer from '../../lib/renderer3d';

    export default {
        props: {
            renderer: Renderer
        },
        mounted() {
            this.canvasNode = document.querySelector('canvas');
            this.renderer.init( document.querySelector('canvas')); // don't use canvasNode here, it gets overwritten
            
            window.addEventListener('resize', () => {
                this.canvasNode.style.width = this.canvasNode.parentNode.clientWidth + "px";
                this.canvasNode.style.height = this.canvasNode.parentNode.clientHeight + "px";
                
                this.renderer.updateCanvasSize();
            });
        },
        methods: {
        }
    }
</script>

<style scoped lang="scss">
    canvas {
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
        height: 100%;
        
    }
</style>
