<template>
    <div class="tab">
        <div @click="toggleContent" class="header" :class="this.isVisible ? 'visible' : ''">
            <span>
                <img src="../../assets/arrow.svg" />
            </span>
            {{tabName}}
            <span class="info">{{tabInfo || ""}}</span>
        </div>
        <div :class="this.isVisible ? 'visible' : ''" class="content">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            tabName: String,
            tabInfo: String
        },
        data() {
            return {
                isVisible: false,
            }
        },
        methods: {
            toggleContent() {
                this.isVisible = !this.isVisible;
            }
        }
    }
</script>

<style scoped lang="scss">
    @import '../../styles/colors.scss';

    .tab:last-child .header {
        border-bottom-width: 1px;
    }

    .info {
        color: $fontColorDark;
        position: absolute;
        right: 4px;
        text-align: right;
    }

    .header {
        padding: 8px 0;
        cursor: pointer;
        position: relative;

        background-color: rgba(0,0,0,0);
        border: 0px solid $borderGray;
        border-top-width: 1px;
        border-left-width: 1px;
        font-size: 0.8em;

        transition: background-color ease-in-out 160ms;

        &.visible {
            background-color: $borderGray;

            img {
                transform: rotate(0deg);
            }
        }

        > span {
            position: absolute;
            left: 8px;

            img {
                height: 8px;
                transform: rotate(-90deg);
                transition: transform ease-in-out 80ms;
            }
        }
    }

    .content {
        overflow: hidden;
        height: 0;
        opacity: 0;
        visibility: hidden;

        transition: flex ease-in-out 3050ms, 
                    opacity ease-in-out 150ms,
                    visibility ease-in-out 150ms;

        &.visible {
            height: auto;
            opacity: 1;
            display: block;
            visibility: visible;
        }
    }

    
</style>
