<template>
    <div>
        <Tab tabName="Import | Export">
            <ImportExport v-on:update-file="updateFile" :file="file" />
        </Tab>
        <Tab tabName="File Settings">
            <FileActions :file="file" />
        </Tab>
        <Tab tabName="Entries">
            <EntryList v-bind:entries="file.entries[0].entries" v-bind:renderer="renderer"/>
        </Tab>
        <Tab tabName="Reference Model">
            <ReferenceModel :renderer="renderer" />
        </Tab>
    </div>
</template>

<script>
    import Tab from './Tab.vue';

    import ImportExport from './tools/ImportExport.vue';
    import FileActions from './tools/FileActions.vue';
    import EntryList from './tools/EntryList.vue';
    import ReferenceModel from './tools/ReferenceModel.vue';

    export default {
        components: {
            Tab, 
            FileActions, ImportExport, ReferenceModel,
            EntryList
        },
        props: {
            file: Object,
            updateFile: Function,
            renderer: Object
        }
    }
</script>

<style scoped lang="scss">
    @import '../../styles/colors.scss';

    div {
        max-height: 100%;
        overflow-y: auto;
    }
</style>
