<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Quicksand|Viga|Crete+Round:400i" rel="stylesheet">
    
    <link rel="manifest" href="manifest.json">

    <script src="js/three.min.js"></script>
    <script src="js/threejs.ext.js"></script>
    <script src="js/download.js"></script>

    <title>Ice-Hail</title>
  </head>
  <body>
    <noscript>
      <strong>Whoaa! You disabled JavaScript... please enable it to use this tool.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
