<template>
    <footer>
        <span>Ice-Hail-GUI v{{packageJson.version}}</span>
        -
        <span>©{{packageJson.author}}</span> - 2019
    </footer>
</template>

<script>
    import packageJson from '../../package.json';
    export default {
        data() {
            return {packageJson};
        }
    }
</script>

<style scoped lang="scss">
    @import '../styles/colors.scss'; 

    footer {
        border-top: 1px solid $borderGray;
        font-family: 'Quicksand', sans-serif;
        font-size: 0.8em;
        margin: 0;
        padding: 0;
        background-color: $themeBgDark;

        span:first-child {
            color: $themeBlue;
        }

        span:last-child {
            color: $themeOrange;
        }
    }
</style>
